.section-1 {
    box-shadow: -8px -6px 15px 0px;

    .navbar-brand {
        color: $text-color;
        font-size: 2.2rem;
        padding: 0;
        color: black;
    }

    a {
        font-size: 1.3rem;
    }
}

