.section-2 {
    background-color: #f8f8f8;
    padding: 13rem 0;

    .section-2-text {
        text-align: center;
        width: 48%;
        color: $text-color;

        h1 {
            margin-bottom: 1rem;
            color: black;
        }

        p {
            font-size: 1.2rem;

        }
    }
}





