@import 'common';
@import 'variables-mixin';
@import 'section1';
@import 'section2';
@import 'section3';
@import 'section4';
@import 'section5';
@import 'section6';
@import 'section7';
@import 'section9';

#pre-loader {
    background: black url(../img/loading@2x.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1022;
}

.banner {
    height: 100vh;
    background-image: url(../img/home-bg.jpg);
    @include background;

    .banner-text {
        text-align: center;
        color: $secondary-color;
        margin-top: 5rem;

        h1 {
            font-size: 4rem;
        }

        a {
            background-color: $primary-color;
            margin-top: 2rem;
            padding: 2rem 1rem;
            border-radius: 8px;
            @include transition;

            &:hover {
                color: $primary-color;
                background-color: $secondary-color;
            }
        }
    }
}

@include responsive800 {
    .section-1 {
        .inner {
            .section-1-text {
                width: 80%;
            }
        }
    }


    .section-2 {
        .inner {
            .section-2-text {
                width: 80%;
            }
        }
    }

    .section-3 {
        .inner {
            .section-3-text {
                width: 80%;
            }
        }
    }

    .section-4 {
        .inner {
            .section-4-text {
                width: 80%;
            }
        }
    }

    .section-5 {
        .inner {
            .section-5-text {
                width: 80%;
            }
        }
    }

    .section-6 {
        .inner {
            .section-6-text {
                width: 80%;
            }
        }
    }

    .section-7 {
        .inner {
            .section-7-text {
                width: 80%;
            }

            form {
                width: 90%;
            }
        }
    }

    .section-9 {
        .inner {
            .section-9-text {
                width: 90%;
            }
        }
    }

}